@{
    ViewData["Title"] = "Home";
}

<div class="text-center main-img">
    <img src="/img/luffy.jpg" height="350px" alt="">
</div>

<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome to <strong>My World</strong></h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae dolore inventore quidem,
                    reiciendis
                    nemo commodi eum aliquam itaque, ad doloribus harum dicta molestias earum excepturi facere! Voluptas
                    atque incidunt itaque.
                    Soluta, deserunt, laboriosam recusandae iste sed inventore sapiente maiores fugit esse rem adipisci
                    tenetur amet dolorum consequatur eaque saepe molestias! Ab unde rerum tempora. Voluptate veniam at
                    neque
                    repudiandae quo.
                </p>
                <button class="btn btn-primary">Read More</button>
            </div>
            <div class="col-md-6 text-right">
                <img src="/img/person.png"  alt="">
            </div>
        </div>
    </div>
</div>

<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                sidebar
            </div>
        </div>
    </div>
</div>